.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.counter-number {
  font-size: 100px;
  margin: 0 10px;
  color: transparent;
  background-image: linear-gradient(to right, #00aefd, #ff6bcb);
  -webkit-background-clip: text;
  background-clip: text;
}
.counter button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: 0;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
