* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  border-radius: 8px;
  border: 1px solid #eee;
}
.joke-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.5;
  text-align: center;
}
.joke-button {
  border: 0;
  outline: none;
  display: block;
  padding: 15px 30px;
  border-radius: 8px;
  color: white;
  background-color: #20e3b2;
}
